.event__container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.buttons__list {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.buttonsList__item {
    position: relative;
}    

.buttonsList__item:not(:last-child) {
    margin-right: 24px;
}

.buttonsList__itemBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 56px;
    height: 56px;
    background-color: var(--backgroundColor);
    border-radius: 8px;
    box-shadow: 2px 4px 9px 0 #A68DAE;
}

.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    width: 158px;
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.event__item {
    position: relative;
    width: 272px;
    border-radius: 12px;
    background-color: var(--backgroundColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

.event__itemImg {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.event__itemContainer {
    padding: 16px;
}

.event__itemTitle {
    font-family: Poppins Medium;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.event__itemDescription {
    font-family: Poppins Regular;
    font-size: 14px;
    line-height: 1.72;
}

.category, 
.priority {
    font-family: Poppins Medium;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--backgroundColor);
}

.eventInfoContainer {
    max-width: 272px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.eventDataContainer {
    position: absolute;
    top: 240px;
    left: 0px;
    width: 272px;
    background-color: rgba(255, 255, 255, 0.8);
}

.category {
    color: var(--accentColor);
    margin-right: 12px;
}


.event__dataList {
    display: flex;
    justify-content: space-between;
    margin: 8px 16px;
}

.event__dataDescription {
    font-family: Poppins Regular;
    font-size: 14px;
    line-height: 1.72;
    color: var(--accentColor);
}