.title {
    font-family: Open Sans SemiBold;
    font-size: 24px;
}

.description {
    font-family: Poppins Medium;
    font-size: 20px;
}

.titleSemibold {
    font-family: Poppins SemiBold;
    font-size: 32px;
}