@import '../../sass/utils/mixin';

.eventForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 272px;
    background-color: var(--backgroundColor);
    box-shadow: 2px 4px 9px 0 #A68DAE;
    padding: 40px 16px;
    border-radius: 8px;

    @include mq(tab) {
        padding: 40px 24px;
        flex-direction: row;
        justify-content: flex-start;
        width: 688px;
    }
    
    @include mq(desk) {

    }
}

.form__title {
    font-family: Poppins Regular;
    font-size: 16px;
    line-height: 1;
    color: var(--accentColor);
    margin-bottom: 8px;
}

.form__input {
    width: 240px;
    padding: 16px 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid var(--disableColor);

    @include mq(tab) {
        width: 308px;
    }
}

.form__submit {
    width: 240px;
    border: none;
    border-radius: 8px;
    background-color: var(--accentColor);
    color: var(--backgroundColor);
    padding: 16px 75.5px;
    margin-top: 20px;

    @include mq(tab) {
        width: 193px;
        margin-top: 120px;
        margin-left: 115px;
        padding: 16px 55px;
    }
}

.disabled {
    background-color: var(--disableColor);
}

.errorInput {
    border: 1px solid #FF2B77;
}

.error {
    margin-top: -16px;
    margin-left: auto;
    font-family: Poppins Regular;
    font-size: 12px;
    line-height: 1.34;
    color: #FF2B77;
}

.left__container,
.right__container {
    width: 308px;
}

.left__container {
    margin-right: 24px;
}
