@import '../../sass/utils/mixin';

.header {
  background-color: #FEFCFF;

  @include mq(tab) {

  }

  @include mq(desk) {

  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header__padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nameLogo {
  font-family: Alata Regular;
  font-size: 24px;
  color: var(--accentColor);
}

.selectLanguage {
  padding: 12px;
  width: 69px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: var(--secondTextColor);
  background-color: #ffffff;
  box-shadow: 2px 4px 9px 0 #A68DAE;
}

.formSearch {
  display: flex;
  align-items: center;
  width: 272px;
  height: 48px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 4px 9px 0 #A68DAE;
}

.btn__submit {
  width: 24px;
  height: 24px;
  border: none;
  margin-right: 12px;
  background-color: var(--backgroundColor);
  background-image: url('../../images/icons/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.inputSearch {
  border: none;
}