@import '../../sass/utils/mixin';

.header {
 
  background-color: #FEFCFF;

  @include mq(tab) {

  }

  @include mq(desk) {

  }
}

.header__container {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameLogo {
  font-family: Alata Regular;
  font-size: 24px;
  color: var(--accentColor);
}

.selectLanguage {
  padding: 12px;
  width: 69px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: var(--secondTextColor);
  background-color: #ffffff;
  box-shadow: 2px 4px 9px 0 rgba(104, 173, 174, 0.28);
}