@import './sass/utils/_common.scss';
@import './sass/utils/_fonts.scss';
@import './sass/utils/_mixin.scss';
@import './sass/utils/_variables.scss';
@import './sass/utils/_container.scss';
@import './sass/utils/_textVariables.scss';

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background/backgroundPng.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
